
#  Telecom VPLS Configuration for WBX

/configure service vpls 300 customer 1 create description "Telecom-VPLS-gNB-eNB"
/configure service vpls 300 sap {{LAG1}}:300
{% if LAG2 %}
/configure service vpls 300 sap {{LAG2}}:300
/configure service vpls 300 mac-move primary-ports sap {{LAG2}}:300
{% endif %}
/configure service vpls 300 mac-move primary-ports sap {{LAG1}}:300
/configure service vpls 300 mac-move move-frequency 1
/configure service vpls 300 mac-move number-retries 1
/configure service vpls 300 mac-move no shutdown
/configure service vpls 300 no shutdown

#  OAM VPLS Configuration for WBX

/configure service vpls 400 customer 4 create description “OAM-VPLS-gNB-eNB"
/configure service vpls 400 stp shutdown
{% if LAG2 %}
/configure service vpls 400 sap {{LAG2}}:400
/configure service vpls 400 mac-move primary-ports sap {{LAG2}}:400
{% endif %}
/configure service vpls 400 mac-move primary-ports sap {{LAG1}}:400
/configure service vpls 400 mac-move move-frequency 1
/configure service vpls 400 mac-move number-retries 1
/configure service vpls 400 mac-move no shutdown
/configure service vpls 400 no shutdown

{% if ENTRY171 %}
# Updated administrative profile to disable “SAP shutdown”

/configure system security profile “administrative” entry 171 match
“configure service vpls sap shutdown”
/configure system security profile “administrative” entry 171 action deny
{% endif %}
